<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="APIkey" value="Jt6m4xHFxWMrIQZp2oqbex23I"/>
    <add key="APIsecret" value="dDG0BpWcXEObIZ1zBjhi2LzaROMboVx8kUO5Fcfufd0GkgvhlM"/>
    <add key="AccessToken" value="3240425318-PqKLv86ErED6q3P3J7i7EZLBZHuOWvraCRYb23E"/>
    <add key="AccessTokenSecret" value="lCuT5Bhf0U1KSL4NHx22eEow7EisE5TiQRBr8V1hMP1xg"/>
  </appSettings>
</configuration>